<header class="d-flex">
  <div class="container d-flex flex-column">
    <h1>
      <span class="header-title-part">Oban </span>
      <span class="header-title-part">Dashboard<span>
    </h1>
  </div>
</header>
<section id="main" role="main" class="container">
  <%= @inner_content %>
</section>
